
.player-container img{
    width: 200px;
    height:220px;
}

.player-info img{
    width:20px;
    height:18px;
    border-radius: 2px;
    
}
.player-info li{
    list-style: none;
}
.player-details{
    border: 2px solid lightgray;
    padding: 10px;
    border-radius:10px;
    box-shadow: 5px 5px 7px lightgray;
   
}
.player-image{
    border-bottom: 2px solid lightgray;
}
.player-image img{
    border-radius: 5px;
}
.player-info{
    border-bottom: 2px solid lightgray;
    font-size: 16px;
    font-weight: 600;
}
#add-button{
    background-color: rgb(245, 4, 85);
}
