
.player-info li{
    list-style: none;
}
.custom-rounded{
    border-radius:10px !important;
}

.card-image img{
    border-radius: 10px 10px 0 0;
}

.card-logo img{
    width: 25px;
}
.player-info-list li{
    font-size: 15px;
}
.player-info-list li strong{
    color: #757575;
}
.player-info-list li span{
    font-size:16px;
}
.player-info-list li.list-group-item{
    padding: 2px 0;
    border: none !important;
    display: flex;
    justify-content: space-between;
}
.salary{
    font-size: 18px;
}
.salary .total-salary{
    color:#3563FA;
    font-size: 20px;
    font-weight: 700;
}
.select-btn{
    padding:8px 18px;
    font-size: 14px;
    line-height:23px;
    font-weight: 500;
    background:#FF5166;
    color: #ffffff;
}
.select-btn:hover{
    background:#E90038;
    color: #ffffff;
}